@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #60A5FA;
    --dark-gray: #6B7280;
    --off-white: #F3F4F6;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}


.link-primary {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    /* background-color: white; */
    border: 1px solid var(--primary-color);
    /* border-color: var(--primary-color);
    border: 1px solid; */
}

/** lists **/
.list-non-bullet {
    list-style: none;
    padding: 0%;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link{
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding: 1rem;
    color: var(--dark-gray);
    text-align: center;
    /* font-size: ; */
}

/** section **/
.section {
    padding: 2rem;
    display: block;
}
.section h1{
    text-align: center;
}

.container-center p{
    color: var(--dark-gray);
}
.ow {
    background-color: var(--off-white);
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .footer-header {
    font-weight: bold;
}

.social-link {
    padding-inline-start: 0px;
}
